/* Базовые стили секций */
.section-future,
/* .section-future2, */
.section-future3 {
    width: 100%;
    max-width: 1440px;
    padding: 20px;
    background-color: #F8F9FA;
    box-sizing: border-box;
}
.section-future2 {
    width: 100%;
    max-width: 1440px;
    padding: 20px;
    background-color: #F8F9FA;
    box-sizing: border-box;
}

/* Базовые стили контейнеров контента */
.section-future-content {
    /* width: 1316px; */
    height: 520px;
    background-color: #ffffff;
    padding: 50px 62px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.section-future-about-text {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 42px;
}
/* .section-future-content {
    width: 1316px;
    height: 520px;
    background-color: #ffffff;
    padding: 50px 62px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
} */
.section-future2-content {
    /* width: 1316px; */
    height: 520px;
    padding: 50px 62px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 26px;
    align-items: center;
}
    /*}

.section-future-content,
.section-future2-content {
    width: 100%;
    max-width: 1316px;
    height: 520px;
    padding: 50px 62px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
} */

.section-future2-content {
    gap: 26px;
}

/* Общие стили текста и заголовков */
.section-future-title {
    font-family: "Gotham Pro", sans-serif;
    font-size: 44px;
    line-height: 48.4px;
    color: #1D1D22;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    text-align: left;
}

.section-future-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
    width: 100%;
    height: auto;
    text-align: left;
}

.section-future-texty,
.section-future2-texty {
    display: grid;
    align-content: space-between;
    gap: 20px;
}

.section-future-texty {
    max-width: 447px;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-future2-about-text {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.section-future2-texty {
    max-width: fit-content;
    height: fit-content;
}

/* Структура блока преимуществ */
.section-future-advantage,
.section-future2-advantage {
    background-color: #F8F9FA;
    border-radius: 12px;
    padding: 10px 12px;
    color: #737373;
    display: flex;
    width: max-content;
    flex-direction: row;
    align-self: flex-start;
}

.advantage-name {
    font-size: 16px;
    line-height: 15.31px;
    color: #737373;
    font-weight: bold;
}

.advantage-number {
    font-size: 16px;
    line-height: 15.31px;
    color: #000000;
    font-weight: bold;
}

/* Стиль изображения */
.future-img,
.future2-img {
    width: min-content;
    height: min-content;
    object-fit: cover;
}

.future2-img {
    width: 868px;
    border-radius: 20px;
}

/* Адаптивные стили */
@media (max-width: 1140px) {
    .section-future-content,
    .section-future2-content {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 40px 40px;
        width: fit-content;
        height: fit-content;
    }

    .section-future-title {
        font-size: 32px;
        line-height: 38px;
    }

    .future-img,
    .future2-img {
        max-width: 100%;
        height: auto;
        align-self: center;
    }
    .section-future-texty {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
    .section-future-about-text {
    width: -webkit-fill-available;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 42px;
    padding: 0px 36px
}
}

@media (max-width: 768px) {
    .section-future-content,
    .section-future2-content {
        padding: 20px 20px;
    }

    .section-future-title {
        font-size: 28px;
        line-height: 34px;
    }

    .section-future-texty,
    .section-future2-texty {
        max-width: 100%;
    }

    .section-future-text {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 480px) {
    .section-future-content,
    .section-future2-content {
        padding: 15px 15px;
    }

    .section-future-title {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .section-future-text {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }

    .advantage-number {
        font-size: 14px;
        line-height: 18px;
    }

    .news-button {
        width: 100%;
        padding: 10px;
    }

    .future-img,
    .future2-img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        border-radius: 14px;
        /* padding: 0px 20px; */
    }
}
