#hero-section {
  margin-block: 6rem 3rem;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  & > div {
    flex: 1 1 45%;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  padding: 5rem;
  background: #2a8bec;
  max-height: 31rem;
  & img {
    height: 19rem;
  }
}
