.map {
  margin: 5rem 0px 0px 0px;
}

.map-image {
  margin: 3.75rem 1.75rem -2.5625rem 0.5625rem;
}

.map-container {
  position: relative;
  padding: 0;
}

.map-content {
  position: absolute;
  top: -60px;
  left: 0;
  h2 {
    max-width: clamp(21.91rem, 16.69rem + 26.1vw, 40.25rem);
    text-align: left;
  }
}
