@use '../base/variables' as *;

.support {
  margin: 6.25rem 0;
  & h2 {
    text-align: center;
    margin: 0 0 4rem 0;
  }
  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.75rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 1.25rem;
    background: #fff;
    & .btn {
      margin: auto 0 0 0;
    }
  }
}
.support-label span {
  border-radius: 0.5rem;
  padding: 0.625rem 0.75rem;
  background: $grayBgColor;
  align-self: flex-start;

  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 1rem;
}
span.support-label__popular {
  font-size: 1rem;
  color: $blueColor;
  background: #2a8bec2a;
}

.support-cost {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  margin: 0 0.5rem 0 0;
}

.black-card {
  transform: scaleY(110%);
  background: $mainColor;
  & .support-label {
    background-color: unset;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    & span:not(.support-label__popular) {
      background: #303035;
    }
  }
  & .support-label,
  h4 {
    color: #fff;
  }
  & .btn {
    border: 1px solid #fff;
  }
}
